<!doctype html>
<html lang="en">

<head>
  <title>Slack Invite Automation: Authorize</title>
  <%= partial 'public/partials/_head.html.erb' %>
  <script src="/scripts/authorize.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="description" content="User workflow in Slack." />
</head>

<body>
  <p class='icon'>
    <a href="/"><img src='img/icon.png'></a>
  </p>
  <p>
    <h1>Slack Invite Automation: Authorize</h1>
  </p>
  <p>&nbsp;</p>
  <p id='messages' />
  <p>&nbsp;</p>
  <p class='image'>
  </p>
  <%= partial 'public/partials/_footer.html.erb' %>
</body>

</html>