<!doctype html>
<html lang="en">

<head>
  <title>Slack Invite Automation: Help</title>
  <%= partial 'public/partials/_head.html.erb' %>
</head>

<body>
  <p class='icon'>
    <a href='/'><img src='img/icon.png'></a>
  </p>
  <p>
    <h1>Slack Invite Automation: Help</h1>
  </p>
  <p>
    TODO
  </p>
  <p>
    DM <b>help</b> to <b>@invite</b> for more commands and options.
  </p>
  <%= partial 'public/partials/_footer.html.erb' %>
</body>

</html>