<html>
 <head>
  <title>Slack Invite Automation: User Workflow in Slack</title>
  <%= partial 'public/partials/_head.html.erb' %>
  <script src="/scripts/register.js"></script>
  <meta name="slack-app-id" content="AFEH9PVM3">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="description" content="User workflow in Slack."/>
 </head>
 <body>
  <p class='icon'>
    <a href="/"><img src='img/icon.png'></a>
  </p>
  <p>
    <h1>Slack Invite Automation</h1>
  </p>
  <p>
    Help users join your Slack team.
  </p>
  <p>&nbsp;</p>
  <p id='messages' />
  <p id='register'>
    <a href="https://slack.com/oauth/authorize?scope=bot,commands&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </p>
  <p>
    <small>
      Free 2 week trial. Subscribe for $9.99/yr.
    </small>
  </p>
  <%= partial 'public/partials/_footer.html.erb' %>
 </body>
</html>

